@charset 'utf-8';
*{margin: 0; padding: 0; box-sizing: border-box;}

ul, li, ol {list-style: none;}
a{text-decoration: none; color:#fff;}
.clear::after{
    content: '';
    display: block;
    clear: both;
}
body{
    font-family: 'Roboto','Noto Sans KR', sans-serif;
}
#wrapper{
    width: 100%;
    height: 100vh;
}
header{
    background-color: rgba(0, 38, 29, .9);
    height: 90px;
    overflow: hidden;
    transition: height .4s;
    z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
header .container{
    width: 1490px;
    margin: 0 auto;
}
/* =======로고======= */
header h1{
    float: left;
}
header h1 a{}
header h1 a img{
    margin-top: 12px;
}

/* =======네비게이션====== */
header .nav{
    float: right;
}
header .nav > ul{}
header .nav > ul > li{
    float: left;
}
header .nav > ul> li > a{
    display: block;
    line-height: 90px;
    font-size: 18px;
    text-align: left;
}
header .nav > ul> li:first-child{
    width: 178px;
}
header .nav > ul> li:nth-child(2), header .nav > ul> li:nth-child(3){
    width: 145px;
}
header .nav > ul> li:nth-child(4), header .nav > ul> li:nth-child(5){
    width: 185px;
}
header .nav > ul> li ul{}
header .nav > ul> li ul li{}
header .nav > ul> li ul li a{
    display: block;
    font-size: 15px;
    text-align: left;
    margin-bottom: 15px;
}
header .nav > ul> li ul li a:hover{
    color: #ed5e30;
}
/* =====삼선메뉴===== */
header .three-btn{
    position: absolute;
    right: 215px;
    top: 28px;
}
header .three-btn a{}
header .three-btn a img{}

.visual{
    width: 100%;
}
/* 메인 슬라이드 */
.visual .first_Swiper{
    width: 100%;
    position: relative;
}
.visual .first_Swiper .swiper-wrapper{}
.visual .first_Swiper .swiper-wrapper .swiper-slide{}
.visual .first_Swiper .swiper-wrapper .swiper-slide a{}
.visual .first_Swiper .swiper-wrapper .swiper-slide a img{
    width: 100%;
    height: 970px;
    object-fit: cover;
    position: relative;
    vertical-align: top;
}
.visual .first_Swiper .swiper-wrapper .swiper-slide a h1 {
    font-size: 63px;
    font-weight: 700;
    line-height: 70px;
}
.visual .first_Swiper .swiper-wrapper .swiper-slide a .text1{
    position: absolute;
    top: 305px;
    left: 210px;
    /* transform: matrix(1, 0, 0 , 1, 0, 0); */
}
.visual .first_Swiper .swiper-wrapper .swiper-slide a .text1 span {
    color: #ffb100;
}
.visual .first_Swiper .swiper-wrapper .swiper-slide a .text1 p
{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 300;
    opacity: .5;
    font-family: 'Noto Sans KR', sans-serif;
   
}
/* 네비게이션 */
.visual .first_Swiper .control{
    position: absolute;
    left: 51.5%;
    bottom: 20.5%;
    z-index: 99;
    width: 280px;
    height: 19.58px;
    padding: 0 45px;
}
.visual .first_Swiper .control .btns{
    margin: 40px 0 20px;
    width: 190px;
    height: 19.58px;
    position: relative;
}

.visual .first_Swiper  .control .btns .swiper-btn-prev {
    background: url(../images/main_visual_arrow_prve.png) no-repeat;
    width: 34px;
    height: 14px;
    z-index: 98;
    float: left;
    cursor: pointer;
}
.visual .first_Swiper .control .btns .swiper-pagination {
    color: #fff;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
    width: 50px;
    /* position: relative; */
    /* top: 0; */
    position: absolute;
    top: 0;
    left: 35%;
}
.visual .first_Swiper .control .btns .swiper-btn-next{
    background: url(../images/main_visual_arrow_next.png) no-repeat center;
    width: 34px;
    height: 14px;
    z-index: 98;
    float: right;
    cursor: pointer;
}
.swiper-pagination-current {
    padding-right: 10px;
}
.swiper-pagination-total {
    position: relative;
    padding-left: 10px;
}
.swiper-pagination-total::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 4px;
    left: 0px;
    width: 1px;
    height: 10px;
    /* margin: 0 5px; */
    background-color: #fff;
}


/* 썸네일 슬라이드 */
.visual .thum_Swiper{
    position: absolute;
    left: 210px;
    bottom: 130px;
    width: 600px;
}
.visual .thum_Swiper .swiper-wrapper{}
.visual .thum_Swiper .swiper-wrapper .swiper-slide{
    
}
.visual .thum_Swiper .swiper-wrapper .swiper-slide img{
    width: 58px;
    height: 38px;
    object-fit: cover;
    cursor: pointer;
    display: block;
    border: 1px solid #fff;
    filter: gray; 
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    
}

.visual .thum_Swiper .swiper-wrapper .swiper-slide-thumb-active img{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

main {}
/* 컨텐츠 1 */
main .content1{
    width: 100%;
    background-color: #003125;
    height: 900px;
    padding-top: 120px ;
}

main .content1 .text2{
    margin: -0.7% auto 1.8% 11%;
}
main .content1 .text2 p{
    color: #f8b537;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 8.0px;
}
main .content1 .text2 h1{
    color: #f8b537;
    font-size: 55px;
    font-weight: 700;
}
main .content1 .text2 h1 > span{
    font-weight: 400;
}
main .content1 .menu_box {
    width: 100%;
    padding: 0 80px;
    position: relative;
}
main .content1 .menu_box  .menu_Swiper{}
main .content1 .menu_box  .menu_Swiper .swiper-wrapper{}
main .content1 .menu_box  .menu_Swiper .swiper-wrapper a{}
main .content1 .menu_box  .menu_Swiper .swiper-wrapper a:hover .y_p_box{
    background-color: rgba(230,189,170,0.9);
    transition: all 1s ;
}
main .content1 .menu_box  .menu_Swiper .swiper-wrapper a img{
    height: 630px;
    width: 100%;
    object-fit: cover;
}
main .content1 .menu_box  .menu_Swiper .swiper-wrapper a .y_p_box{
    position: absolute;
    left: 64%;
    top: -10px;
    background-color:rgba(255,177,0,0.8);
    width: 40%;
    height: 640px;
    padding: 30px 100px 30px 60px;
    
}

main .content1 .menu_box  .menu_Swiper .swiper-wrapper a .y_p_box .sgnc{
    margin: 70px 0 10px;
    letter-spacing: 8.0px;
    font-size: 18px;
    color: #004233;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-weight: 200;
    
}
main .content1 .menu_box  .menu_Swiper .swiper-wrapper a .y_p_box .name{
    font-size: 44px;
    color: #004233;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    line-height: 47px;
}
main .content1 .menu_box  .menu_Swiper .swiper-wrapper a .y_p_box .explain{
    font-size: 44px;
    color: #004233;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
    letter-spacing: -0.2px;
}
main .content1 .menu_box  .menu_Swiper .swiper-wrapper a .y_p_box .explain_plus{
    font-size: 19px;
    color: #fff;
    font-weight: 200;

}

main .content1 .menu_box .menu_Swiper .swiper-menu-btn-prev{
    background: url(../images/slider_left_11x20.png) no-repeat center;
    z-index: 99;
    width: 11px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 31.9%;
    bottom: 8%;
}
main .content1 .menu_box .menu_Swiper .swiper-pagination{
    position: absolute;
    bottom: 8.5%;
    left: 1210px;
    width: 400px;
    /* text-align: right; */
}
main .content1 .menu_box .menu_Swiper .swiper-pagination-bullet{
    width: 60px;
    height: 3px;
    border-radius: 0;
    background-color: #fff;
    opacity: 1;
}
main .content1 .menu_box .menu_Swiper .swiper-pagination-bullet-active{
    background-color: #003125;
}
main .content1 .menu_box .menu_Swiper .swiper-menu-btn-next{
    background: url(../images/slider_right_11x20.png) no-repeat center;
    z-index: 99;
    width: 11px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 5.6%;
    bottom: 7.9%;
}

/* 컨텐츠2 */
main .content2 {
    width: 100%;
    /* height: 100vh; */
    height: 969px;
    background-color: #f8b000;
    padding: 0 80px;
}
main .content2 .container2{
    width: 100%;
    height: 960px;
    position: relative;
}
main .content2 .container2 .text2 {
    width: 38%;
    height: 500px;
    display: inline-block;
    position: absolute;
    top: 250px;
    left: 1%;
    /* background-color: aqua; */
}
main .content2 .container2  .text2 .sgnc{
    font-size: 18px;
    color: #9f6a49;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    padding-left: 5px;
    letter-spacing: 0.7em;
    margin-bottom: 0px;
}
main .content2 .container2  .text2 h1{
    font-size: 55px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    letter-spacing: -0.03em;
    line-height: 58px;
    margin-bottom: 45px;
    color: #444;
}
main .content2 .container2  .text2 h1 .green {
    color: #1e4f40;
    font-family: 'Roboto','Noto Sans KR', sans-serif;
}
main .content2 .container2  .text2 .wish{
    color: #444;
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
    margin-bottom: 75px;
    padding-left: 5px;
    letter-spacing: -0.03em;
}
main .content2 .container2  .text2 .quick_button {
    border: 2px solid #694c38;
    color: #694c38;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    letter-spacing: -0.1px;
    padding: 15px 20px;
    width: 155px;
    display: inline-block;
    background: url(../images/tab_box_bg_right2.png) no-repeat;
    background-position: 90% 50%;
}
main .content2 .container2  .place-img1{
    width: 64%;
    height: 696px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 40;
    overflow: hidden;
}
main .content2 .container2  .place-img1 .place-bg1{
    background: url(../images/cont_slide2_bg01.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 696px;
    transform: scale(1.14);
}

main .content2 .container2  .place-img2{
    width: 50%;
    height: 510px;
    position: absolute;
    bottom: 30px;
    left: 32%;
    z-index: 41 ;
    overflow: hidden;
}
main .content2 .container2  .place-img2 .place-bg2{
    background: url(../images//cont_slide2_bg01_2.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 510px;
}
/* ======컨텐츠3====== */
main .content3 {
    width: 100%;
    height: 446px;
}
main .content3 .left_box{
    width: 50%;
    height: 100%;
    background: url(../images/cont_slide3_bg01.jpg) no-repeat center;
    background-size: cover;
    float: left;
    padding: 115px 0 0 215px;
}
main .content3 .left_box .text3{
    color: #fff;
}
main .content3 .left_box .text3 > h1{
    margin-bottom: 10px;
    /* display: inline-block; */
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0.1px;
}
main .content3 .left_box .text3 >p{
    /* display: inline-block; */
    /* width: 480px; */
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 45px;
    line-height: 24px;
    letter-spacing: 0.2px;
    opacity: 0.7;
}
main .content3 .left_box .text3 .quick_button2{
    color: #694c38;
    background: url(../images/tab_box_bg_right2.png) no-repeat center;
    background-color: #ffb100;
    background-position: 90% 50%;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.1px;
    width: 155px;
    height: 51px;
    padding: 15px 20px;
    display: inline-block;
    
}
main .content3 .left_box .text3 .quick_button2:hover{
    color: #fff;
}
main .content3 .right_box{
    width: 50%;
    height: 100%;
    background: url(../images/cont_slide3_bg02.jpg) no-repeat center;
    background-size: cover;
    float: right;
    padding: 115px 0 0 120px;
}
main .content3 .right_box .text4{
    color: #fff;
}
main .content3 .right_box .text4 >h1{
    margin-bottom: 10px;
    /* display: inline-block; */
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0.1px;
}
main .content3 .right_box .text4 >p{
    /* width: 480px; */
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 45px;
    line-height: 24px;
    letter-spacing: 0.2px;
    opacity: 0.7;
}
main .content3 .right_box .text4 .quick_button3{
    color: #694c38;
    background: url(../images/tab_box_bg_right2.png) no-repeat center;
    background-color: #ffb100;
    background-position: 90% 50%;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.1px;
    width: 155px;
    height: 51px;
    padding: 15px 20px;
    display: inline-block;
}
main .content3 .right_box .text4 .quick_button3:hover{
    color: #fff;
}
/* =======푸터======== */
footer {
    width: 100%;
    height: 340px;
    background-color: #202020;
}
footer .container3{
    
    padding: 50px 80px 50px 215px;
}
footer .container3 .f_menu{
    margin-bottom: 50px;
}
footer .container3 .f_menu .SC{
    padding-right: 11px;
    font-size: 15px;
}
footer .container3 .f_menu .inf{
    padding: 0 11px 0 10px;
    font-size: 15px;
}
footer .container3 .f_tel{
    margin-bottom: 50px;
}
footer .container3 .f_tel .tel{
    color: #fbae45;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    padding-right: 20px;
}
footer .container3 .f_tel .fax{
    color: #fbae45;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
}
footer .container3 .f_add{}
footer .container3 .f_add > span{
    padding-right: 15px;
    font-size: 15px;
    color: #a7a7a7;
}