@charset 'utf-8';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding-top: 100px;
}
.wrapper {
    width: 1000px;
    height: 600px;
    background-color: antiquewhite;
    padding-top: 150px;
   margin: 0 auto;
}
.container {
    width: 500px;
    height: 300px;
    background-color: yellow;
    margin: 0 auto;
}
.box {
    width: 100px;
    height: 100px;
    color: white;
}
.box:nth-child(1){
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}
.box:nth-child(2){
    background-color: green;
    position: absolute;
    top: 50px;
    left: 50px;
}
.box:nth-child(3){
    background-color: blue;
    position: absolute;
    bottom: 100px;
    right: 100px;
}