@charset 'utf-8';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin: 0 auto;
    width: 750px;
}
.clear::after {
    display: block;
    content: '';
    clear: both;
}
li {
    float: left;
    /* width: 120px; */
    line-height: 70px;
    font-size: 20px;
    
    text-align: center;
}
a {
    text-decoration: none;
    color: #333;
    line-height: 70px;
    display: block;
    width: 120px;
}
.menu {
    border-bottom: 1px solid #333;
}
li:hover {
    background-color: red;
}