*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .clear::after {
    display: block;
    content: '';
    clear: both;
} */
.clear {
    clear: both;
}
.box1 {
    width: 200px;
    height: 200px;
    background-color: blue;
    float: left;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: aqua;
    float: left;
    border: 1px solid;
}
.box3 {
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    float: left;
}
