*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 100;
    background-color: #343434;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.container {
    width: 1400px;
    margin-left:auto;
    margin-right:auto;
}