@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear::after {
    clear: both;
    display: block;
    content: '';
}
.box900 {
    width: 900px;
    margin: 10px auto;
}

.box900 img {
    width: 900px;
}

.box9002 {
    width: 900px;
    margin: 10px auto;
}

.box9002 .box {
    background-color: aqua;
    width: 295px;
    height: 295px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
.box9002 .box img {
    width: 295px;
    height: 295px;
    
}