@charset 'utf-8'
html {
    font-size:16px
}
body {
    font-size: 1em;
    color: green;
    border: 2px solid cornflowerblue;
}
.gfa{
    font-size: 2em;
    border: 2px solid red;
}
.fa {
    font-size: 2em;
    border: 2px solid blue;
}
.son {
    font-size: 2em;
    border: 2px solid salmon ;
}
.gfa-rem{
    font-size: 2rem;

}
.fa-rem {
    font-size: 2rem;

}
.son-rem {
    font-size: 2rem;

}
