@charset 'ufe-8';

body {font-size: 10px;}
div {
    background-color: yellow;
    border: 1px solid black;
}
div:nth-child(1) {font-size: 100%;}
div:nth-child(2) {font-size: 150%;}
div:nth-child(3) {font-size: 200%;}
div:nth-child(4) {font-size: 300%;}
div:nth-child(5) {font-size: 1em;}
div:nth-child(6) {font-size: 1.5em;}
div:nth-child(7) {font-size: 2em;}
div:nth-child(8) {font-size: 3em;}
div:nth-child(9) {font-size: 1rem;}
div:nth-child(10) {font-size: 1.5rem;}
div:nth-child(11) {font-size: 2rem;}
div:nth-child(12) {font-size: 3rem;}
div:nth-child(13) {font-size: 16px;}
div:nth-child(14) {font-size: 24px;}
div:nth-child(15) {font-size: 36px;}
div:nth-child(16) {font-size: 48px;}