@charset 'utf-8'
html {
    font-size: 20px;
}
body {
    font-size: 1em;
    border: 2px solid red;
    background-color: greenyellow;
}
.c1 {
    font-size: 2rem;
    border: 2px solid black;
}
.c2 {
    font-size: 1rem;
    color: black;
    border: 2px solid black ;
}
.blue1 {
    font-size: 2em;
    color: red;
    border: 2px solid blue;
}
.c3 {
    font-size: 3rem;
    color: black;
    border: 2px solid black;
}
.blue2 {
    font-size: 2em;
    color: red;
    border: 2px solid blue ;
}
.c4 {
    font-size: 2em;
    color: black;
    border: 2px solid black ;
}