@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clear::after {
    clear: both;
    display: block;
    content: '';
}
.left {
    float: left;
}
.container {
    width: 1200px;
    margin: 10px auto;
}
.card   {
    width: 285px;
    margin-right: 20px;
    box-shadow: 0px 0px 5px 0 rgba(0, 0 ,  0,3);
    /* box-shadow: 15px 15px 10px 0 rgba(0, 0 ,  0,3); */
}
.card:last-child {
    margin-right: 0;
}
.card .img_box {
    /* width: 100%;블록요소라 굳이 안적어도됨 */
}
.card .img_box a{
    display: block;
}
.card .img_box img {
    width: 285px;
    height: 285px;
}
.card .desc {
    padding: 10px;
}
.card .desc h3{
    font-size: 18px;
}
.card .desc p{
    font-size: 14px;
}