@charset 'utf-8';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
/* 공통영역 */
.clear::after{
    display: block;
    content: '';
    clear: both;
}
/* 헤더영역 */
.header {}
.header .container {
    width: 1200px;
    /* height: 100px; */
    margin: 0 auto;
    background-color: #845EC2;
    position: relative;
}
.header .container .logo {
    width: 150px;
    height: 100px;
    background-color: #D65DB1;
}
.header .container .gnb {
    width: 100%;
    background-color: #FF6F91;
    position: absolute;
    top: 100px;
    left: 0;

}
.header .container .gnb .depth1 {
    background-color: gray;
    float: right;
    margin-top: -40px;
    margin-right: 30px;
}
.header .container .gnb .depth1 > li{
    float: left;
}
.header .container .gnb .depth1 > li > a{   display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;

}
.header .container .gnb .depth1 > li:hover >a{
    color: aliceblue;
    font-weight: bold;
} 

.header .container .gnb .depth2{
    display: none;
}
.header .container .gnb .depth1:hover .depth2 {
    display: block;

}

.header .container .gnb .depth2 li{}
.header .container .gnb .depth2 li a{
    display: block;
    height: 40px;
    line-height: 40px;
    width: 150px;
    text-align: center;
}
.header .container .gnb .depth1 > li .depth2 li:hover a {
    color: aliceblue;
    font-weight: bold;
}
/* 비주얼영역 */
.visual {}
.visual .container {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    background-color: #FF9671;
    
}


/* 메인영역 */
.main {}
.main .container {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    background-color: chartreuse;
}
.main .container .notice {
    width: 33.333%;
    height: 200px;
    float: left;
    background-color: #FFC75F;
}
.main .container .gallery {
    width: 33.333%;
    height: 200px;
    float: left;
    background-color: #F9F871;
}
.main .container .banner {
    width: 33.333%;
    height: 200px;
    float: left;
    background-color: #F3C5FF;
}
/* footer 영역 */
.footer {}
.footer .container{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: black;
}
.footer  .container .logo{
    width: 150px;
    height: 100px;
    background-color: #DBE7ED;
    float: left;
}
.footer  .container .m-footer{
    width: 900px;
    height: 100px;
    background-color: darkgoldenrod;
    float: left;
}
.footer  .container .m-footer .menu-bottom{
    height: 50px;
    background-color: #39829B;
}
.footer  .container .m-footer .copyright{
    height: 50px;
    background-color: #FEFEDF;
}
.footer  .container .f-site{
    width: 150px;
    height: 100px;
    background-color: #ADC5CF;
    float: left;
}
